<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title><%=title%></title>
    <style type="text/css">
        video{
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: "FlipH";
            -ms-filter: "FlipH";
        }
        #sv{
            height: 40%;
        }
        .remote_video{
            height: 40%;
            border:1px solid silver;
        }
    </style>
</head>
<body>
 <video id="sv" autoplay muted>
 </video>
<div style="position: absolute;z-index: 9999999;left: 10px;bottom: 10px;">采集频率(min加载慢 max延迟大 单位毫秒)：
    <input type="text" value="200"  min='100' class="interval"/>
    <span>|</span>
    <button class="startBtn">开始</button>
    <button class="stopBtn" disabled>停止</button>
    <button class="downBtn" disabled>下载视频</button>
    </br>推送地址: /push,  拉取地址: /pull
</div>
<script type="text/javascript" src="../lib/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="js/live_push.js"></script>
</body>
</html>